<a href="https://colab.research.google.com/github/naturehere/backjoon_by_step/blob/main/1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 최소 최대
import sys
n = int(input())
board =list(map(int, sys.stdin.readline().split()))
print(min(board), max(board))

# 최댓값
max = 0
for i in range(9):
    n = int(input())
    if n >= max :
        idx = i
        max = n

print(max)
print(idx+1)

# 숫자의 개수
total = 1
for i in range(3):
    total *= int(input())

c = [0 for _ in range(10)]
total = str(total)
for i in total:
    c[int(i)] += 1

print(*c, sep = "\n")

# 나머지
N = []
for i in range(10):
    N.append(int(input()))
M = [i%42 for i in N]
M = set(M)
print(len(M))

# 평균
import sys
n = int(input())
scores =list(map(int, sys.stdin.readline().split()))
new_scores = [i/max(scores)*100 for i in scores]
print(sum(new_scores)/n)

# OX퀴즈
n = int(input())
ret = []
for _ in range(n):
    ox = input()
    score = 1
    total = 0
    for j in ox:
        if j == "O":
            total += score
            score += 1
        else:
            score = 1
    ret.append(total)

print(*ret, sep = "\n")

# 평균은 넘겠지
import sys
c = int(input())
ret = []
for _ in range(c):
    n, *scores = map(int, sys.stdin.readline().split())
    # n = 3
    # scores = [1,2,3]
    avg = sum(scores)/n

    count = 0
    for s in scores:
        if s > avg:
            count += 1

    ret.append((count/n)*100)

for i in ret:
    print(f"{i :.3f}%")

In [ ]:
n, *scores = (1,2,3,4)
[print(x) for x in numbers]

NameError: ignored

In [ ]:
numbers = [1,2,3]
print(*(x for x in numbers), sep='\n')
print(*(f"{i :.3f}%" for x in numbers), sep='\n')

1
2
3
55.556%
55.556%
55.556%

In [ ]:
a = [print(f'{i : 2.3f}%') for i in scores]


[print(f'{i : .3f}%') for i in ret]

 2.000%
 3.000%
 4.000%
 10.000%
 9.000%
 7.000%

[None, None, None]

In [ ]:
# 평균은 넘겠지
import sys
c = int(input())
ret = []
for _ in range(c):
    #n, *scores = map(int, sys.stdin.readline().split())
    n, *scores = map(int, input().split())
    # n = 3
    # scores = [1,2,3]
    avg = sum(scores)/n

    count = 0
    for s in scores:
        if s > avg:
            count += 1

    ret.append((count/n)*100)

# print(*(f"{i : .3f}%" for i in ret), sep='\n')
for i in ret:
    print(f"{i :.3f}%")

5
5 50 50 70 80 100
7 100 95 90 80 70 60 50
3 70 90 80
3 70 90 81
9 100 99 98 97 96 95 94 93 91
 40.000%
 57.143%
 33.333%
 66.667%
 55.556%

### 문제 추가

In [15]:
# 공 넣기 (추가)

# 입력 받기
N, M = map(int,input().split())
N, M

# 바구니 초기화
basket = [0]*N

# M 횟수 만큼 i j k 입력 받아 공 교체
for i in range(M):
    i, j, k = map(int, input().split())
    basket[i-1:j] = [k]*(j-i+1)

print(*basket, sep = " ")

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

In [17]:
# 개수 세기

# 입력
N = int(input())
nums = list(map(int, input().split()))
target = int(input())

c = nums.count(target)

print(c)

11
1 4 1 2 4 2 4 2 3 4 4
5
0

In [1]:
# 공 바꾸기

# 입력 받기
N, M = map(int,input().split())
N, M

# 바구니 초기화
basket = [i+1 for i in range(N)]

# M 횟수 만큼 i j k 입력 받아 공 교체
for i in range(M):
    i, j = map(int, input().split())
    basket[i-1], basket[j-1] = basket[j-1], basket[i-1]

print(*basket, sep = " ")

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

In [3]:
# 과제 안내신분 ?
# 30명중 28명만 과제 제출. 제출 안한 사람 번호를 출력하라

# 출석부 초기화
num_list = [0]*30

for _ in range(28):
    n = int(input())
    num_list[n-1] = 1

for i in range(30):
    if num_list[i] == 0:
        print(i+1)

1
3
4
4
5
2

In [22]:
# 바구니 뒤집기

# 입력 받기
N, M = map(int,input().split())
N, M

# 바구니 초기화
basket = [i+1 for i in range(N)]

# M 횟수 만큼 i j 입력 받아 바구니 교체
for i in range(M):
    print(*basket, sep = " ")
    i, j = map(int, input().split())
    basket[i-1:j] = basket[i-1:j][::-1]

print(*basket, sep = " ")

5 4
1 2 3 4 5
1 2
2 1 3 4 5
3 4
2 1 4 3 5
1 4
3 4 1 2 5
2 2
3 4 1 2 5